<app-header></app-header>
<div class="container-fluid py-5">
  <div class="container">
    <div class="row h-100 justify-content-center align-items-center">
      <div class="col-7 py-5">
        <h1 class="primary-text pr-5">Lorem ipsum dolor sit amet consectetur adipisicing elit.</h1>
        <h2 class="secondary-text mt-3 pr-5">Rerum aperiam praesentium adipisci accusantium. Quasi officiis veniam quisquam
          fugiat, libero vel,
          voluptas officia aliquid inventore aliquam adipisci nihil repellendus quam veritatis!</h2>
        <button class="btn btn-primary mt-3">Saiba mais</button>
      </div>
      <div class="col-5">
        <img src="../../assets/img/dog.png" class="img-fluid" alt="">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h1 class="primary-text mt-5 mb-5">Lorem ipsum dolor</h1>
      </div>
    </div>
    <div class="row text-center d-flex justify-content-around">
      <div class="col-3">
        <img src="http://placehold.it/100x100" class="img-responsive rounded-circle mb-3" alt="">
        <p class="subtitle-text">Rerum aperiam praesentium.</p>
        <p>Rerum aperiam praesentium.</p>
      </div>
      <div class="col-3">
        <img src="http://placehold.it/100x100" class="img-responsive rounded-circle mb-3" alt="">
        <p class="subtitle-text">Rerum aperiam praesentium.</p>
        <p>Rerum aperiam praesentium.</p>
      </div>
      <div class="col-3">
        <img src="http://placehold.it/100x100" class="img-responsive rounded-circle mb-3" alt="">
        <p class="subtitle-text">Rerum aperiam praesentium.</p>
        <p>Rerum aperiam praesentium.</p>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid padhor-0">
  <div class="container-fluid bg-f5f5f5 padver-50">
    <div class="container container-fluid-sm">
      <h2 class="titulo">Animais para doação</h2>
      <ng-container *ngIf="doacoes">
        <div class="row">
          <ng-container *ngFor="let item of doacoes">
            <div class="col-12 col-md-4">
              <app-card-doacao [doacao]="item"></app-card-doacao>
            </div>
          </ng-container>
        </div>
      </ng-container>
      <div class="row mt-5">
        <div class="col-12">
          <p class="mbottom-0 text-center"> <a href="animais-para-doacao.php"
              class="btn btn-info   text-uppercase padhor-30">Ver todos os animais</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row py-5 h-100 justify-content-center align-items-center">
    <div class="col-4">
      <img src="../../assets/img/cat.png" class="img-fluid" alt="">
    </div>
    <div class="col-8">
      <h1 class="primary-text pl-5">Lorem ipsum dolor sit amet consectetur adipisicing elit.</h1>
      <h2 class="secondary-text mt-3 pl-5">Rerum aperiam praesentium adipisci accusantium. Quasi officiis veniam quisquam
        fugiat, libero vel,
        voluptas officia aliquid inventore aliquam adipisci nihil repellendus quam veritatis!</h2>
      <button class="btn btn-primary mt-3 ml-5">Saiba mais</button>
    </div>
  </div>
</div>
<app-footer></app-footer>
