<app-header></app-header>
<div class="container-fluid py-5 height-100vh">
  <div class="container">
    <div class="row h-100 justify-content-center align-items-center">
      <div class="col-md-7 col-12 py-5">
        <h1 class="primary-text pr-md-5">Quem somos nós?</h1>
        <h2 class="secondary-text mt-3 pr-md-5">Pettix é um sistema funcional, cujo os idealizadores são acadêmicos de
          Medicina Veterinária da cidade de Foz do Iguaçu - PR, dos quais possuem parcerias com ONG’s e protetores, com
          objetivo de achar um lar para animais que foram abandonados e com isso diminuir o índice de animais nas ruas e
          a superlotação de ONG’s. </h2>
        <button class="btn btn-primary mt-3">Por que adotar?</button>
      </div>
      <div class="col-md-5 d-none d-sm-block">
        <img src="../../assets/img/Group 1-min.png" class="img-fluid" alt="">
      </div>
    </div>
  </div>
</div>
<div class="container-fluid bg-green-home">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h1 class="primary-text mt-5 mb-5">Funcionalidades do Pettix</h1>
      </div>
    </div>
    <div class="row text-center d-flex justify-content-around">
      <div class="col-md-3 col-12">
        <img src="../../assets/img/doacao.png" class="img-fluid img-info rounded-circle mb-3" alt="">
        <p class="subtitle-text">Doação de animais</p>
        <p>Rerum aperiam praesentium.</p>
      </div>
      <div class="col-md-3 col-12">
        <img src="../../assets/img/cat2.png" class="img-fluid img-info rounded-circle mb-3" alt="">
        <p class="subtitle-text">Perdi meu animal</p>
        <p>Rerum aperiam praesentium.</p>
      </div>
      <div class="col-md-3 col-12">
        <img src="../../assets/img/dog2.png" class="img-fluid img-info rounded-circle mb-3" alt="">
        <p class="subtitle-text">Encontrei um animal</p>
        <p>Rerum aperiam praesentium.</p>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid padhor-0">
  <div class="container-fluid bg-pattern padver-50">
    <div class="container container-fluid-sm">
      <h2 class="titulo">Animais para doação</h2>
      <ng-container *ngIf="doacoes">
        <div class="row">
          <ng-container *ngFor="let item of doacoes">
            <div class="col-12 col-md-4 mb-4 mb-md-0">
              <app-card-doacao [doacao]="item"></app-card-doacao>
            </div>
          </ng-container>
        </div>
      </ng-container>
      <div class="row mt-5">
        <div class="col-12">
          <p class="mbottom-0 text-center"> <a href="#" [routerLink]="['/listagem-doacao']"
              class="btn btn-info  text-uppercase padhor-30">Ver todos os animais</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row py-5 h-100 justify-content-center align-items-center">
    <div class="col-md-4 d-none d-sm-block">
      <img src="../../assets/img/Group 2-min.png" class="img-fluid" alt="">
    </div>
    <div class="col-md-8 col-12">
      <h1 class="primary-text pl-md-5 pl-3">Encontrando e devolvendo lares aos animais</h1>
      <h2 class="secondary-text mt-3 pl-md-5 pl-3">Rerum aperiam praesentium adipisci accusantium. Quasi officiis veniam
        quisquam
        fugiat, libero vel,
        voluptas officia aliquid inventore aliquam adipisci nihil repellendus quam veritatis!</h2>
      <button class="btn btn-primary mt-3 ml-md-5 ml-3">Saiba mais</button>
    </div>
  </div>
</div>
<app-footer></app-footer>
