<a routerLink="/doacao/{{doacao.id}}">
  <div class="card">
    <!-- <img src="{{this.url}} + arquivo/doacao/ + {{doacao.id}} + / + {{this.doacao.animal.imagens[0]}}" class="img-fluid" alt=""> -->
    <div class="img-todos-animais" [style.background-image]="style | safe: 'style'"></div>
    <div class="absolute-pet-details d-flex">
      <div class="flex-fill">
        Nome: {{doacao.animal.nome}}
      </div>
      <ng-container *ngIf="type != 'dashboard'">
        {{doacao.cidade}}, {{doacao.estado}}
      </ng-container>
      <ng-container *ngIf="type == 'dashboard'">
        <div class="dropdown">
          <button class="btn btn-link justify-content-end" type="button" id="dropdownMenuButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false" style="color: #fff">
            <i class="fas fa-ellipsis-v"></i>
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" [routerLink]="[ '/editar-doacao', doacao.id ]">Editar</a>
            <!-- <a class="dropdown-item" href="#">Inativar</a> -->
            <a class="dropdown-item" (click)="removeDoacao()">Excluir</a>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</a>
