<app-header></app-header>
<div class="container-fluid hidden bg-grey-home">
  <div class="row">
    <div class="col-12 mt-3">
      <img src="../../../assets/img/1920x250-cadastro.png" alt="Placeholder" class="img-fluid d-md-block rounded-corner">
    </div>
  </div>
</div>
<div class="container-fluid bg-grey-home padver-50 padver-15-xs">
  <div class="row d-flex justify-content-center">
    <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6">
      <div class="bg-fff px-4 py-4 rounded-corner">
        <form [formGroup]="usuarioForm" (ngSubmit)="onSubmit()">
          <h1 class="font-700 mbottom-30 mtop-0 text-uppercase text-center color-blue pt-3">Cadastro de
            usuário</h1>
          <div class="row">
            <div class="col-xs-12 col-sm-6">
              <div class="form-group">
                <label for="nome">Nome</label>
                <input type="text" class="form-control" formControlName="nome" name="nome"
                  placeholder="Ex: João das Neves">
              </div>
            </div>
            <div class="col-xs-12 col-sm-6">
              <div class="form-group">
                <label for="email">E-mail</label>
                <input type="text" class="form-control" formControlName="email" name="email"
                  placeholder="Ex: joao@dasneves.com">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-6">
              <div class="form-group">
                <label for="celular">Celular</label>
                <input type="text" class="form-control" formControlName="celular" name="celular"
                  placeholder="Ex: 45988776655">
              </div>
            </div>
            <div class="col-xs-12 col-sm-6">
              <div class="form-group">
                <label for="telefone">Telefone</label>
                <input type="text" class="form-control" formControlName="telefone" name="telefone"
                  placeholder="Ex: 4535001122">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-6">
              <div class="form-group">
                <label for="senha">Senha</label>
                <input type="password" class="form-control" formControlName="senha" name="senha"
                  placeholder="******" id="senhaUsuario">
              </div>
            </div>
            <div class="col-xs-12 col-sm-6">
              <div class="form-group">
                <label for="senhaNovamente">Digite a senha novamente</label>
                <input type="password" class="form-control" formControlName="confirmasenha" placeholder="******">
              </div>
            </div>
            <div class="col-xs-12 col-12">
              <div class="form-group">
                <ng-container *ngIf="this.fileData">
                  <img id="profilePicture" class="hidden img-fluid">
                  <a (click)="removeFile()" href="#" class="alert-link" class="hidden block mbottom-15 link-red">Remover
                    foto</a>
                </ng-container>
                <label class="btn btn-imagem">
                  Fazer upload de imagem
                  <input type="file" #myInput (change)="fileProgress($event)" class="width-100per d-none"
                    accept="image/png, image/jpeg">
                </label>
                <p class="help-block">Dê preferência a fotos com aspecto quadrado e com extensão .jpg ou .png. Ex:
                  resolução 200x200.</p>
              </div>
              <ng-container *ngIf="previewUrl">
                <div class="row">
                  <div class="col-3 mb-3" *ngFor="let item of previewUrl">
                    <img [src]="item" class="img-fluid" />
                  </div>
                </div>
              </ng-container>
            </div>
          </div>
          <p class="text-center mbottom-0 mt-2"><button class="btn btn-info text-uppercase padhor-30"
              id="btnCadastrarUsuario" type="submit" [disabled]="submitBtn">Cadastrar</button></p>
        </form>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
