<div class="d-md-flex h-100vh align-items-center">

  <!-- First Half -->

  <div class="col-md-4 p-0 bg-indigo h-100vh">
    <div class="text-white d-md-flex align-items-center h-100 p-5 text-center justify-content-center">
      <div class="logoarea pt-5 pb-5">
        First half content here
      </div>
    </div>
  </div>

  <!-- Second Half -->

  <div class="col-md-8 p-0 bg-white h-100vh loginarea">
    <div class="d-md-flex align-items-center h-100vh p-5 justify-content-center">
      <div class="card p-3" style="width: 70%">
        <form class="p-3" action="" method="POST" id="formLogin">
          <ng-container *ngIf="errorAlert">
            <div class="alert alert-danger" role="alert">
              E-mail ou senha incorretos.
            </div>
          </ng-container>
          <div class="form-group">
            <label for="formLoginEmail" class="font-300">E-mail</label>
            <input type="text" [(ngModel)]="formLoginEmail" name="formLoginEmail" class="form-control"
              placeholder="maria@gmail.com">
          </div>
          <div class="form-group">
            <label for="formLoginSenha" class="font-300">Senha</label>
            <input type="password" [(ngModel)]="formLoginSenha" name="formLoginSenha" class="form-control"
              placeholder="******">
          </div>
          <p class="text-center mbottom-0"><button type="button"
              class="btn btn-secondary block width-100per text-uppercase   padhor-30" id="btnLogin"
              (click)="login()">Fazer login</button></p>
        </form>
        <p class="px-3"><a href="">Esqueceu a senha?</a></p>
      </div>
    </div>
  </div>

</div>


<!-- <div class="container-fluid">
  <div class="row">
    <div class="d-flex justify-content-center align-items-center">
      <div class="row">
        <div class="col-3 h-100">
          <img src="http://placehold.it/500x800" class="img-fluid" alt="">
        </div>
        <div class="col-9 h-100">
          <div class="card">
            <form class="p-3" action="" method="POST" id="formLogin">
              <div class="error height-0">
                <div class="alert alert-danger" role="alert">
                  E-mail ou senha incorretos.
                </div>
              </div>
              <div class="form-group">
                <label for="formLoginEmail" class="font-300">E-mail</label>
                <input type="text" name="formLoginEmail" class="form-control" placeholder="maria@gmail.com">
              </div>
              <div class="form-group">
                <label for="formLoginSenha" class="font-300">Senha</label>
                <input type="password" name="formLoginSenha" class="form-control" placeholder="******">
              </div>
              <p class="text-center mbottom-0"><button type="button"
                  class="btn btn-gradient block width-100per text-uppercase   padhor-30"
                  id="btnLogin">Logar</button></p>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
<!-- <div class="row align-items-center h-100">
    <div class="w-95 h-60">
      <div class="col-md-3 h-100">
        <img src="http://placehold.it/500x800" class="img-fluid" alt="">
      </div>
      <div class="col-md-9 h-100">
        <div class="card">
          <form class="p-3" action="" method="POST" id="formLogin">
            <div class="error height-0">
              <div class="alert alert-danger" role="alert">
                E-mail ou senha incorretos.
              </div>
            </div>
            <div class="form-group">
              <label for="formLoginEmail" class="font-300">E-mail</label>
              <input type="text" name="formLoginEmail" class="form-control" placeholder="maria@gmail.com">
            </div>
            <div class="form-group">
              <label for="formLoginSenha" class="font-300">Senha</label>
              <input type="password" name="formLoginSenha" class="form-control" placeholder="******">
            </div>
            <p class="text-center mbottom-0"><button type="button"
                class="btn btn-gradient block width-100per text-uppercase   padhor-30"
                id="btnLogin">Logar</button></p>
          </form>
        </div>
      </div>
    </div>
  </div>
</div> -->
