<app-header></app-header>
<div class="container-fluid bg-gray-f5f5f5">
  <div class="row">
    <div class="col-12 col-md-2 padhor-0 dashboard-height-hack bg-gray-666">
      <div class="dashboard padhor-15">
        <div class="padver-50 padver-15-xs">
          <h1>Dashboard</h1>
          <ul class="nav flex-column" id="dashboardTabs">
            <h2>Meus anúncios</h2>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="[ 'doacao' ]">Doações</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="[ 'perdido' ]">Animal Perdido</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="[ 'encontrado' ]">Animal Encontrado</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-10 bg-f5f5f5 dashboard-height-hack">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<app-footer></app-footer>
