<app-header></app-header>
<div class="container-fluid bg-gray-f5f5f5">
  <div class="row">
    <div class="col-12 col-lg-3 col-md-3 col-xl-2 padhor-0 dashboard-height-hack bg-gray-666">
      <div class="dashboard padhor-15">
        <div class="padver-50 padver-15-xs">
          <h1>Dashboard</h1>
          <ul class="nav flex-column" id="dashboardTabs">
            <h2>Meus anúncios</h2>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="[ 'doacao' ]">Doações</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#tabPerdido">Animal Perdido</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#tabEncontrado">Animal Encontrado</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-9 col-md-9 col-xl-10 bg-f5f5f5 dashboard-height-hack">
      <div class="row">
        <div class="col-12 padver-15-xs">
          <div class="padding-30 padding-0-xs padding-0-sm">
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
